
html {
  height: 100%;
}
body {
  background: rgb(19, 19, 19) !important;
}

p, h1, h2, h3{
  color: white !important;
}

p{
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron{
  background-color: rgb(19, 19, 19)  !important;
  border: 1px solid white;
  min-height: 82vh;
}

.col-lg-offset-4{
  padding-left: 15px;
  padding-right: 15px;
  background: #292929 !important;
}

.nav-col{
  padding-bottom: 2em;
  .navbar-brand, .nav{
    font-size: 22px;
  }

}

.img-fluid{
  img{
    max-height: 100%;
    max-width: 100%;
    border-radius: 4%;
  }
}

.stuck {
  @media (min-width: 1200px) {
    position: fixed;
    width: inherit;
    overflow-y: auto;
    padding-right: 3em;
  }
}
p {
  font-size: 21px;
  font-weight:200;
}

.table{
  background-color: white;
  font-size: 18px;
}