.art-modal {
  margin-top: 2em;
  padding: 1em 2em 2em;
  overflow-y: auto;
  background-color: white;
}

.close-button {
  position: relative;
  height: 48px;
  width: 48px;
  left: 25px;
  bottom: 15px;
}
