@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

.header {
  position: absolute;
  width: 100%;
  padding: 10px 1rem;
  background-color: rgba(14, 14, 14, 0.9);
  color: white;

  .nav-heading {
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
  }

  .separator {
    line-height: 40px;
  }

  .logo {
    padding-right: 2rem;
    line-height: 45px;
    a {
      color: white;
      text-decoration: none;
      font-family: 'Anonymous Pro', monospace;
    }

    a:hover {
      color: white;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  .nav-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @media (max-width: 731px) {
    .no-display-mobile {
      display: none;
    }
  }

  @media (min-width: 732px) {
    .menu-icon {
      display: none;
    }
  }
}

.drawer {
  width: 180px;
}

